.Editor {
  max-width: 750px;
}

.Editor .DraftEditor-root {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  padding: 0 5px;
}

.Editor .md-RichEditor-editor h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.Editor .md-RichEditor-editor h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}

.Editor .md-side-toolbar {
  top: 12px;
}
