.Editor-PictureButton {
  background: #fff;
  border: 1px solid #5b5b5b;
  border-radius: 15px;
  color: #6d6d6d;
  cursor: pointer;
  display: block;
  height: 30px;
  margin-right: 2px;
  padding: 5px;
  transition: all 0.2s ease;
  width: 30px;
}
