.Footer-Layout {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 2.5rem 0;
  max-width: 18.375rem;
}

@media screen and (min-width: 26.25rem) {
  .Footer-Layout {
    margin: 0;
    max-width: 69.625rem;
  }
}

@media screen and (min-width: 47.75rem) {
  .Footer-Layout {
    justify-content: space-between;
    padding: 3.125rem 0;
  }
}
