<%= form_with url: admin_user_password_path,
      method: :patch,
      local: true,
      class: 'box' do |form| %>

  <%= render 'shared/errors', obj: user %>

  <%= form.hidden_field :token, value: token %>

  <div class="field">
    <%= form.label :password, t('.new_password'), class: 'label' %>
    <div class="control">
      <%= form.password_field :password, id: :password, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, t('.confirm'), class: 'label' %>
    <div class="control">
      <%= form.password_field :password_confirmation,
            class: 'input',
            id: :password_confirmation %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit t('save'), class: 'button is-primary' %>
    </div>
  </div>
<% end %>
