<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <h1 class="title"><%= t('.login') %></h1>

    <%= form_with url: admin_sessions_path,
          method: :post,
          local: true,
          class: 'box' do |form| %>

      <div class="field">
        <%= form.label :email, t('.email'), class: 'label' %>
        <div class="control">
          <%= form.text_field :email, id: :email, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password, t('.password'), class: 'label' %>
        <div class="control">
          <%= form.password_field :password, id: :password, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.label :remember, class: 'checkbox' do %>
            <%= form.check_box :remember, id: :remember, class: 'checkbox' %>
            <%= t('.remember_me') %>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= link_to t('.reset_password'), new_admin_password_reset_path %>
      </div>

      <div class="field">
        <div class="control">
          <%= form.submit t('.login'), class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
