<%= content_for(:title, 'Вступить') %>
<%= content_for(:description, 'Станьте членом или сторонником, чтобы вместе с нами бороться за либертарианскую Прекрасную Россию Будущего.') %>

<%= content_for(:og_title, 'Вступить') %>
<%= content_for(:og_description, 'Станьте членом или сторонником, чтобы вместе с нами бороться за либертарианскую Прекрасную Россию Будущего.') %>

<%= react_component('Header', {theme: 'default', activeLink: 'join', className: 'Page-Header'}, prerender: true) %>
<div class="content-layout join">
  <div class="join__heading">
    <%= react_component('Heading', {size: 'l', tag: 'h1', children: JoinRequest.model_name.human}, prerender: true) %>
  </div>
  <p class="join__paragraph"><%= t('.what_is_this_for') %></p>

  <%= render 'form' %>
</div>
<%= react_component('Footer', {className: 'Page-Footer'}, prerender: true) %>
