.Header-Burger {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 1.375rem;
  padding: 0.3125rem;
}

@media screen and (min-width: 53.75rem) {
  .Header-Burger {
    display: none;
  }
}
