.Contacts {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .Contacts {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1.5vw;
  }
}

@media screen and (min-width: 1380px) {
  .Contacts {
    margin: 0 -1.5625rem;
  }
}
