.Contacts-Item {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 600px) {
  .Contacts-Item {
    display: flex;
    flex-basis: 26vw;
    flex-shrink: 1;
    justify-content: center;
    margin-bottom: 4.5rem;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }
}

@media screen and (min-width: 832px) {
  .Contacts-Item {
    flex-basis: 18.75vw;
  }
}

@media screen and (min-width: 1116px) {
  .Contacts-Item {
    flex-basis: 14vw;
  }
}

@media screen and (min-width: 1380px) {
  .Contacts-Item {
    flex-basis: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
}
