.Page_name_success .Page-Content {
  padding: 28px 0;
}

.Page_name_success .Page-Head {
  margin-bottom: 18px;
}

.Page_name_success .Page-Message {
  display: flex;
  flex-direction: column-reverse;
}

.Page_name_success .Page-Smiley {
  left: 60%;
  margin: 50px -550px 50px 0;
  position: relative;
  transform: translate(-80%);
  width: 550px;
}

@media (min-width: 860px) {
  .Page_name_success .Page-Content {
    padding: 140px 0;
  }

  .Page_name_success .Page-Message {
    flex-direction: row;
    margin: auto;
    max-width: 764px;
  }

  .Page_name_success .Page-Smiley {
    flex-shrink: 0;
    height: 160px;
    margin: 0 40px 0 0;
    position: static;
    transform: none;
    width: 224px;
  }
}
