.actionblock-actions {
  @extend .wrappable-layout;
}

.actionblock-content {
  a {
    color: #444;
  }

  h3 {
    margin-top: 0;
  }
}

@media screen and (min-width: 46.25rem) {
  .actionblock {
    display: flex;
  }

  .actionblock-actions {
    align-items: center;
    justify-content: flex-end;
    width: 10.625rem;
  }

  .actionblock-content {
    max-width: 43.75rem;

    p {
      margin-bottom: 0;
    }
  }
}
