.button {
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.1875;
  outline: none;
  padding: 0.71875rem 1rem;
}

.button-default {
  background: #f3f3f3;
  box-shadow: 0 0.5rem 0.875rem 0 #d2d3e0;
  color: #383838;
}

.button-primary {
  background: #f54141;
  box-shadow: 0 0.5rem 0.875rem 0 #d2d3e0;
  color: #fff;
}

.button-tab {
  background: #f6f4f4;
  border-radius: 0.1875rem;
  padding: 0.28125rem 0.4375rem;

  &:hover {
    background: darken(#f6f4f4, 5%);
  }

  &.is-active {
    background: #e9dacc;
    cursor: default;
    font-weight: 500;
  }
}

.button-toggle {
  &.is-active {
    display: none;
  }
}
