.form {
  max-width: 31.25rem;
}

.form-fieldset {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  margin-bottom: 0.625rem;
  position: relative;
  width: 100%;

  label {
    color: #999;
    font: 1.125rem/1.55 'PT Serif', serif;
    left: 0.125rem;
    position: absolute;
    top: 0.7rem;
    transition: transform 0.1s;
    transform-origin: 0;
    z-index: -1;
  }

  &.is-filled label,
  &.is-focused label {
    transform: translate(0, -0.625rem) scale(0.7);
  }
}

.form-input,
.form-mirror {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 1.3125rem 0.125rem 0 0.125rem;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

.form-mirror {
  box-sizing: border-box;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.form-multiline {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  resize: none;
  top: 0;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-actions {
  margin-top: 1.875rem;
}

.form-angle,
.form-required {
  display: none;
}

.field_with_errors .form-input {
  border-color: #e43f38;
}

.field_with_errors label {
  color: #e43f38;
}

@media screen and (min-width: 37.3125rem) {
  .form-fieldset {
    .form-field {
      width: 15rem;
    }

    .form-field + .form-field {
      margin-left: 1.25rem;
    }
  }

  .form-angle,
  .form-required {
    display: block;
  }

  .form-angle {
    width: 0.8125rem;
    height: 14.25rem;
    margin-left: 1rem;

    border-image: linear-gradient(#fff 20%, #f54141) 1;

    border-bottom: 1px solid;
    border-right: 1px solid;

    /* For Safari solely. */
    border-top: 0;
    border-left: 0;
  }

  .form-required {
    position: relative;
    width: 1.75rem;
    height: 14.25rem;

    & > span {
      position: absolute;
      top: 50%;

      writing-mode: vertical-rl;
      text-transform: lowercase;
      font-family: Roboto, sans-serif;
      font-size: 0.875rem;
      line-height: 2;
      color: #f54141;
    }
  }
}
