.join {
  padding-top: 1.75rem;
}

.join__heading {
  margin-bottom: 2.5625rem;
}

.join__paragraph {
  color: #222;
  font: 1.125rem/1.55 'PT Serif', serif;
  margin: 1.125rem 0;
}

@media screen and (min-width: 53.75rem) {
  .join {
    padding-top: 6.25rem;
  }
}
