<li>
  <article class="card">
    <%= link_to post_path(statement) do %>
      <%= image_tag url_for(statement.thumbnail.file), class: 'card-image' %>
    <% end %>

    <h3 class="card-title">
      <%= link_to statement.title, post_path(statement) %>
    </h3>

    <%= link_to post_path(statement) do %>
      <p class="card-content">
        <%= statement.annotation %>
      </p>
    <% end %>

    <footer class="wrappable-layout">
      <div class="card-label">
        <%= statement.model_name.human %>
      </div>
      <div class="card-label">
        <%= time_tag statement.published_at,
              time_ago_in_words_or_short_date(statement.published_at) %>
      </div>
    </footer>
  </article>
</li>
