.Page_name_libertarianism .Page-Banner {
  background: #202020;
  padding-bottom: 7.625rem;
}

.Page_name_libertarianism .Page-Chart {
  display: block;
  width: 100%;
}

.Page_name_libertarianism .Page-Content {
  padding-bottom: 3.5rem;
}

.Page_name_libertarianism .Page-Head {
  color: #ffcb6d;
  font-family: 'PT Serif', serif;
  font-size: 2.25rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 5.75rem;
  text-align: center;
}

.Page_name_libertarianism .Page-Lead {
  color: #aaa;
  font: 0.9375rem/1.47 Roboto, sans-serif;
  margin-bottom: 5.5rem;
  margin-top: 2.125rem;
  text-align: center;
}

.Page_name_libertarianism .Page-List {
  margin: 1.375rem 0;
}

.Page_name_libertarianism .Page-Par {
  margin: 1.125rem 0;
}

.Page_name_libertarianism .Page-Quote {
  margin: 1.75rem auto;
}

.Page_name_libertarianism .Page-Spectrum {
  display: block;
  margin: 3.5rem 0;
  width: 100%;
}

.Page_name_libertarianism .Page-Spending {
  display: none;
}

.Page_name_libertarianism .Page-SpendingMobile {
  display: block;
  width: 100%;
}

.Page_name_libertarianism .Page-Sub {
  margin: 6.25rem auto 2.75rem auto;
  max-width: 37.5rem;
  text-align: center;
}

.Page_name_libertarianism .Page-SubSub {
  margin-bottom: 1.125rem;
  margin-top: 2.25rem;
}

.Page_name_libertarianism .Page-TOC {
  color: #ffd07c;
  font: 0.8125rem/2.15 Roboto, sans-serif;
  list-style-type: none;
  margin: 0;
  padding-left: 1.875rem;
}

.Page_name_libertarianism .Page-Video {
  height: 24.625rem;
  margin: 1.5rem 0;
  width: 100%;
}

@media screen and (min-width: 37.5rem) {
  .Page_name_libertarianism .Page-Spending {
    display: block;
    margin: 3.5rem auto;
    width: 100%;
  }

  .Page_name_libertarianism .Page-SpendingMobile {
    display: none;
  }
}

@media screen and (min-width: 47.75rem) {
  .Page_name_libertarianism .Page-Content {
    padding-bottom: 8.125rem;
  }

  .Page_name_libertarianism .Page-Head {
    font-size: 3.5rem;
    text-align: left;
  }

  .Page_name_libertarianism .Page-Lead {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: left;
    white-space: pre-line;
  }

  .Page_name_libertarianism .Page-TOC {
    padding-left: 0;
  }
}

@media screen and (min-width: 53.75rem) {
  .Page_name_libertarianism .Page-Banner {
    padding-bottom: 10.375rem;
  }

  .Page_name_libertarianism .Page-Head {
    margin-top: 8.25rem;
  }

  .Page_name_libertarianism .Page-Spending {
    max-width: 53.875rem;
  }

  .Page_name_libertarianism .Page-Sub {
    margin: 11.25rem auto 5rem auto;
  }
}
