<%= content_for(:title, 'Поддержать') %>
<%= content_for(:description, 'Ваши пожертвования помогают нам распространять идеи свободы в России.') %>

<%= content_for(:og_title, 'Поддержать') %>
<%= content_for(:og_description, 'Ваши пожертвования помогают нам распространять идеи свободы в России.') %>

<%= react_component('Header', {theme: 'default', activeLink: 'donate', className: 'Page-Header'}, prerender: true) %>
<div class="page-layout donate">
  <div class="donate__heading">
    <%= react_component('Heading', {size: 'l', tag: 'h1', children: t('.support_financially')}, prerender: true) %>
  </div>
  <p class="donate__lead donate__paragraph"><%= t('.why_donate') %></p>

  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <div class="donate__subheading">
          <%= react_component('Heading', {size: 'm', tag: 'h2', children: t('.treasury.title')}, prerender: true) %>
        </div>
        <p class="donate__paragraph"><%= t('.treasury.about') %></p>
        <p class="donate__paragraph">
          <%= t('.treasury.treasurer') %>
          <a class="link" href="mailto:treasure@libertarian-party.ru">
            treasure@libertarian-party.ru
          </a>
        </p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-radiogroup="treasury"
                data-show="#treasury">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-hide="#treasury"
                data-radiogroup="treasury">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="treasury" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-card-to-card">
              <%= t('.payment_methods.card_to_card.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-bitcoin">
              <%= t('.payment_methods.bitcoin.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-bank-transfer">
              <%= t('.payment_methods.bank_transfer.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-yandex">
              <%= t('.payment_methods.yandex.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-qiwi">
              <%= t('.payment_methods.qiwi.title') %>
            </button>
          </li>
        </ul>
      </div>
      <section id="treasury-card-to-card" class="media">
        <div class="media-image">
          <%= image_tag 'payment/card_to_card.svg',
                alt: t('.payment_methods.card_to_card.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.card_to_card.about') %></p>
          <p><%= t('.banks.sberbank') %>: 4274 3200 4822 4995</p>
          <p><%= t('.banks.tinkoff') %>: 5536 9138 2370 9437</p>
          <p><%= t('.banks.alpha') %>: 5559 4937 1905 7359</p>
          <p><%= t('.banks.raiffeisen') %>: 4476 2461 3941 5265</p>
        </div>
      </section>
      <section id="treasury-bitcoin" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/bitcoin_treasury.png',
                alt: 'bitcoin:3LFnsbW8MetvPEJsf4sXag5CtnPHdvHomM' %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bitcoin.about') %></p>
          <%= link_to '3LFnsbW8MetvPEJsf4sXag5CtnPHdvHomM',
                'bitcoin:3LFnsbW8MetvPEJsf4sXag5CtnPHdvHomM',
                class: 'link bitcoin' %>
        </div>
      </section>
      <section id="treasury-bank-transfer" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/bank_transfer.svg',
                alt: t('.payment_methods.bank_transfer.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bank_transfer.about') %></p>
          <table>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.account') %></td>
              <td>40817810455868763474</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.recipient') %></td>
              <td>Топоров Евгений Владимирович</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.bic') %></td>
              <td>044030653</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.bank') %></td>
              <td>Северо-Западный банк ПАО «Сбербанк»</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.corr_account') %></td>
              <td>30101810500000000653</td>
            </tr>
          </table>
        </div>
      </section>
      <section id="treasury-yandex" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/yandex.svg',
                alt: t('.payment_methods.yandex.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.yandex.about') %></p>
          <%= link_to '410014807548073',
                'https://money.yandex.ru/to/410014807548073',
                class: 'link' %>
        </div>
      </section>
      <section id="treasury-qiwi" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/qiwi.svg',
                alt: t('.payment_methods.qiwi.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.qiwi.about') %></p>
          <%= link_to 'EVGENITOP',
                'https://qiwi.com/n/EVGENITOP',
                class: 'link' %>
        </div>
      </section>
    </div>
  </article>

  <hr class="donate__ruler">

  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <div class="donate__subheading">
          <%= react_component('Heading', {size: 'm', tag: 'h2', children: t('.moscow.title')}, prerender: true) %>
        </div>
        <p class="donate__paragraph"><%= t('.moscow.about') %></p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-show="#moscow"
                data-radiogroup="moscow">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-radiogroup="moscow"
                data-hide="#moscow">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="moscow" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active"
                    data-radiogroup="moscow-tabs"
                    data-hide="[id^=moscow-]"
                    data-show="#moscow-card-to-card">
              <%= t('.payment_methods.card_to_card.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="moscow-tabs"
                    data-hide="[id^=moscow-]"
                    data-show="#moscow-bitcoin">
              <%= t('.payment_methods.bitcoin.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="moscow-tabs"
                    data-hide="[id^=moscow-]"
                    data-show="#moscow-yandex">
              <%= t('.payment_methods.yandex.title') %>
          </li>
        </ul>
      </div>
      <section id="moscow-card-to-card" class="media">
        <div class="media-image">
          <%= image_tag 'payment/card_to_card.svg',
                alt: t('.payment_methods.card_to_card.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.card_to_card.about') %></p>
          <p><%= t('.banks.sberbank') %>: 4274 3200 2315 9513</p>
          <p><%= t('.banks.alpha') %>: 5559 4936 9935 8595</p>
          <p><%= t('.banks.tinkoff') %>: 5536 9138 0690 2165</p>
          <p><%= t('.banks.roketbank') %>: 5321 3045 9110 7815</p>
        </div>
      </section>
      <section id="moscow-bitcoin" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/bitcoin_moscow.png',
                alt: 'bitcoin:39668hzuCQWwbGvcJmYRxKKfJk77ehAw7S' %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bitcoin.about') %></p>
          <%= link_to '39668hzuCQWwbGvcJmYRxKKfJk77ehAw7S',
                'bitcoin:39668hzuCQWwbGvcJmYRxKKfJk77ehAw7S',
                class: 'link bitcoin' %>
        </div>
      </section>
      <section id="moscow-yandex" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/yandex.svg',
                alt: t('.payment_methods.yandex.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.yandex.about') %></p>
          <%= link_to '410016559248356',
                'https://money.yandex.ru/to/410016559248356',
                class: 'link' %>
        </div>
      </section>
    </div>
  </article>

  <hr class="donate__ruler">

  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <div class="donate__subheading">
          <%= react_component('Heading', {size: 'm', tag: 'h2', children: t('.petersburg.title')}, prerender: true) %>
        </div>
        <p class="donate__paragraph"><%= t('.petersburg.about') %></p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-inactive
                data-show="#petersburg"
                data-radiogroup="petersburg">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-radiogroup="petersburg"
                data-hide="#petersburg">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="petersburg" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active"
                    data-radiogroup="petersburg-tabs"
                    data-hide="[id^=petersburg-]"
                    data-show="#petersburg-card-to-card">
              <%= t('.payment_methods.card_to_card.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="petersburg-tabs"
                    data-hide="[id^=petersburg-]"
                    data-show="#petersburg-bitcoin">
              <%= t('.payment_methods.bitcoin.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="petersburg-tabs"
                    data-hide="[id^=petersburg-]"
                    data-show="#petersburg-yandex">
              <%= t('.payment_methods.yandex.title') %>
            </button>
          </li>
        </ul>
      </div>
      <section id="petersburg-card-to-card" class="media">
        <div class="media-image">
          <%= image_tag 'payment/card_to_card.svg',
                alt: t('.payment_methods.card_to_card.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.card_to_card.about') %></p>
          <p><%= t('.banks.sberbank') %>: 5469 5500 6535 9165</p>
          <p><%= t('.banks.raiffeisen') %>: 5100 6914 8887 4938</p>
          <p><%= t('.banks.alpha') %>: 4584 4328 3852 3380</p>
          <p><%= t('.banks.tinkoff') %>: 5536 9138 2301 0778</p>
        </div>
      </section>
      <section id="petersburg-bitcoin" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/bitcoin_petersburg.png',
                alt: 'bitcoin:3Pft12PQjXRqU133xmRJw25DKRfNuKcFk3' %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bitcoin.about') %></p>
          <%= link_to '3Pft12PQjXRqU133xmRJw25DKRfNuKcFk3',
                'bitcoin:3Pft12PQjXRqU133xmRJw25DKRfNuKcFk3',
                class: 'link bitcoin' %>
        </div>
      </section>
      <section id="petersburg-yandex" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/yandex.svg',
                alt: t('.payment_methods.yandex.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.yandex.about') %></p>
          <%= link_to '410011594730501',
                'https://money.yandex.ru/to/410011594730501',
                class: 'link' %>
        </div>
      </section>
    </div>
  </article>
</div>
<%= react_component('Footer', {className: 'Page-Footer'}, prerender: true) %>
