<%= content_for(:title, 'Либертарианская партия') %>
<%= content_for(:description, 'Мы выступаем за свободный рынок и минимизацию налогов, против посягательств на индивидуальные свободы, против цензуры и госрегулирования.') %>

<%= content_for(:og_title, 'Больше свободы, меньше государства') %>
<%= content_for(:og_description, 'Мы выступаем за свободный рынок и минимизацию налогов, против посягательств на индивидуальные свободы, против цензуры и госрегулирования.') %>

<%= react_component('Page', {name: 'party'}, prerender: true) %>
