<%= content_for(:title, 'Платформа') %>
<%= content_for(:description, 'Наши ценности, принципы и цели.') %>

<%= content_for(:og_title, 'Платформа') %>
<%= content_for(:og_description, 'Наши ценности, принципы и цели.') %>

<%= react_component('Page', {name: 'platform'}, prerender: true) %>
