<%= content_for(:title, 'ЛПР для прессы') %>
<%= content_for(:description, 'Кто мы и у кого можно взять комментарий.') %>

<%= content_for(:og_title, 'Для прессы') %>
<%= content_for(:og_description, 'Кто мы и у кого можно взять комментарий.') %>

<%= react_component('Page', {name: 'press'}, prerender: true) %>
