<%= content_for(:title, 'Заявка у нас!') %>
<%= content_for(:description, 'Пишите на почту newblood@libertarian-party.ru по любым вопросам, связанным со вступлением в партию.') %>

<%= content_for(:og_title, 'Я подал(а) заявку в Либертарианскую партию') %>
<%= content_for(:og_description, 'Если вам тоже близки идеи свободы и небезразлично будущее России — присоединяйтесь.') %>

<%= react_component('Page', {name: 'success'}, prerender: true) %>
