<%= form_with model: [:admin, invite],
      local: true,
      class: 'box',
      id: 'invite-form' do |form| %>

  <%= render 'shared/errors', obj: invite %>

  <div class="field">
    <%= form.label :comment, class: 'label' %>
    <div class="control">
      <%= form.text_field :comment, id: :invite_comment, class: 'input' %>
    </div>
  </div>
<% end %>
