<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white"><%= t('.generate_invite') %></h1>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= submit_tag t('save'), form: 'invite-form', class: 'button' %>
        </div>
      </div>
    </div>
  </section>

  <%= render 'form', invite: @invite %>
</div>
