.Footer-SocialMedia {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 1.875rem 0;
  padding: 0;
  width: 18.375rem;
}

@media screen and (min-width: 26.25rem) {
  .Footer-SocialMedia {
    margin: 1.25rem 0 1.625rem 0;
  }
}
