.list {
  .columns {
    margin: 0;
  }
}

.list-header {
  font-weight: bold;
}

.list-body {

}

.list-item {
  display: block;
  color: $text;
  word-wrap: break-word;

  &:nth-child(odd) {
    background: $white-ter;
  }

  &:hover {
    background: $grey-lighter;
  }
}
