<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white">
          <%= @post.title.present? ? @post.title : t('.no_title') %>
        </h1>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= submit_tag t('save'), form: 'post-form', class: 'button' %>
        </div>
        <div class="level-item">
          <%= link_to t('delete'),
                admin_post_path(@post),
                class: 'button is-danger',
                method: :delete,
                data: {confirm: t('are_you_sure')} %>
        </div>
      </div>
    </div>
  </section>

  <%= form_with model: [:admin, @post],
        url: admin_post_path(@post),
        local: true,
        class: 'box',
        id: 'post-form' do |form| %>

    <%= render 'shared/errors', obj: @post %>
    <%= render "admin/#{@post.type.downcase.pluralize}/fields",
          form: form %>
  <% end %>
</div>
