<%= paginator.render do %>
  <nav class="pager">
    <% pages = each_page.select(&:inside_window?) %>

    <ul class="pager-previous">
      <% pages.each do |page| %>
        <% if page < current_page %>
          <li>
            <%= page_tag page %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="pager-current">
      <%= current_page %>
    </div>

    <ul class="pager-next">
      <% pages.each do |page| %>
        <% if page > current_page %>
          <li>
            <%= page_tag page %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
<% end %>
