<%= t('.we_will_contact_you') %>
<%= t('.contact_our_manager', email: 'newblood@libertarian-party.ru') %>

<%= t('.subscribe') %>

- <%= t('.telegram') %> https://t.me/lpr_tg
- <%= t('.vk') %> https://vk.com/lpr_vk
- <%= t('.twitter') %> https://twitter.com/lpr_tw
- <%= t('.youtube') %> https://www.youtube.com/lpr_yt
- <%= t('.fb') %> https://www.facebook.com/lpr.fcbk
- <%= t('.instagram') %> https://www.instagram.com/lpr_ig
