<p><%= t('.we_will_contact_you') %></p>
<p><%=
  raw(
    t(
      '.contact_our_manager',
      email: link_to(
        'newblood@libertarian-party.ru',
        'mailto:newblood@libertarian-party.ru'
      )
    )
  )
%></p>

<p><%= t('.subscribe') %></p>
<ul>
  <li><%= link_to t('.telegram'), 'https://t.me/lpr_tg' %></li>
  <li><%= link_to t('.vk'), 'https://vk.com/lpr_vk' %></li>
  <li><%= link_to t('.twitter'), 'https://twitter.com/lpr_tw' %></li>
  <li><%= link_to t('.youtube'), 'https://www.youtube.com/lpr_yt' %></li>
  <li><%= link_to t('.fb'), 'https://www.facebook.com/lpr.fcbk' %></li>
  <li><%= link_to t('.instagram'), 'https://www.instagram.com/lpr_ig' %></li>
</ul>
