.Footer-ChatLink_mobile {
  box-sizing: border-box;
  display: inline-flex;
  padding-right: 0;
  width: 18.375rem;
}

@media screen and (min-width: 26.25rem) {
  .Footer-ChatLink_mobile {
    display: none;
  }
}
