.Footer-Paragraph {
  color: #444;
  font: 0.8125rem/1.54 Roboto, sans-serif;
  margin: 1.25rem 0 1.625rem 0;
}

@media screen and (min-width: 26.25rem) {
  .Footer-Paragraph {
    font: 1rem/1.63 'PT Serif', serif;
    margin-top: 0.875rem;
  }
}
