<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white"><%= t('.users') %></h1>
      </div>
    </div>
  </section>

  <section class="list">
    <div class="list-header">
      <div class="columns is-mobile">
        <div class="column is-two-thirds">
          <span><%= User.human_attribute_name(:name) %></span>
        </div>
        <div class="column is-one-third">
          <span><%= User.human_attribute_name(:created_at) %></span>
        </div>
      </div>
    </div>

    <div class="list-body">
      <% @users.each do |user| %>
        <%= link_to edit_admin_user_path(user), class: 'list-item' do %>
          <div class="columns is-mobile">
            <div class="column is-two-thirds">
              <span><%= user.name %></span>
            </div>
            <div class="column is-one-third">
              <span><%= l(user.created_at, format: :long) %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <%= paginate @users, views_prefix: 'admin' %>
</div>
