.Menu {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 53.75rem) {
  .Menu {
    top: -999rem;
    left: -999rem;
  }
}
